*{
    border:0px;
    margin:0px;
    padding:0px;
}
body{
    background-color:#113340 ;
}

.reproductor{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    position: fixed;
    bottom: 0px;

    width: 70vw;
    padding:0.4em 1em 0.4em 1em;
    flex-direction: column;
}
.caratula img{
    width: 270px;
    height: 270px;
    border-radius:50%;
    animation-name: girar;
    animation-play-state: paused;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    
}
.texto{
    flex-direction: column;
    align-items:flex-start;
}
.texto h1{
    color: #F0F2F2;
    font-family: 'Playbill';

}
.texto h2{
    color: #A6746F;
    font-family: 'Candara Light';
}
.inicio{
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}
.inicio h1{
    color: #F0F2F2;
    font-family: 'Candara Light';
 
}
.inicio h2{
    color: #F0F2F2;
    font-family: 'Candara Light';
    letter-spacing: 20px;
    padding-bottom: 20px;
}

.controles{
    width: 40vw;
    display: flex;
    justify-content: space-around;
}
.controles button{
    background-color: #0E4C59;
    cursor: pointer;
    border-radius: 50%;
}
.control{
    color:#DEDCDE;
    font-size: 3em;
}
.volume{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.volume input{
    cursor: pointer;
    
}
@keyframes girar{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.container-controles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.barra{
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    height: 100%;
    background-color: #A6746F;
}
.progress-bar{
    width: 100%;
    cursor: pointer;

}

.main-container{
    margin-top: 80px;
}
/*Estilos para el menú */


.main-reproductor{
    width: 50%;
    height: 100%;
    align-items: center;
    top: 0px;
}
.main-cola{
    width: 50%;
    height: 100%;
    align-items: center;
    top: 0px;
    padding-left: 50%;
    flex-direction: column;
}

/*Estilos para lista de reproduccion*/
.container{
    display: flex;
    justify-content:flex-start;
    margin-bottom: 300px;
    flex-direction: column;
}
.list-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 10px;
    cursor: pointer;

}

.list-item{

    height: 100%;
    margin-top: 1px;
    display:flex;
    justify-content: space-around;
    align-items:flex-start;
    margin-left: 2px;
    padding-right: 5px;
    flex-direction: column;


}
.list-item img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-bottom: 8px;    
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 2px;
}
.id1{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 6px;
}
.id2{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row;
    margin-bottom: 6px;
}
.id3{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}
.id4{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}.id5{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}.id6{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}.id7{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}.id8{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}.id9{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}.id10{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}.id11{
    background-color:#F0F2F2;
    width: 110%;
    height: 100%;
    align-items: flex-start;
    flex-direction: row; 
    margin-bottom: 6px;
}
.data{
    margin-left: 2em;
    color: #DEDCDE;
}

/*estilos del select para filtro*/

.filter-genere {
    padding: 0.5em;
    background-color: #010101;
    color:white;
    width: 300px;
}